@import url('https://fonts.googleapis.com/css?family=Orbitron');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.calc-title {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

/*------------------------------------- INPUT SECTION -------------------------------------*/
.input1-container {
    width: auto;
    margin: 0 auto;
}

.onerm-input {
    width: 260px;
    margin: 0 auto;
    padding-top: 20px;
}

.onerm-input form {
    text-align: center;
}

.onerm-input h3 {
    text-align: center;
}

.input1 {
    text-align: center;
}

#weight, #reps {
    width: 250px;
    height: 20px;
    border-radius: 5px;
}

/*------------------------------------- OUTPUT SECTION -------------------------------------*/
.output1-container {
    display: flex;
    margin: 0 auto;
    width: 500px;
    padding-top: 20px;
    padding-left: 100px;
}

.output1-container li {
    margin-left: -15px;
}

.epley-section {
    padding-right: 50px;
}

.epley-section li {
    list-style-type: none;
}

.brzycki-section li {
    list-style-type: none;
}

@media (max-width: 450px) {
    #weight, #reps {
        width: auto;
        height: 20px;
    }
}

@media (max-width: 500px) {
    .output1-container {
        display: block;
        width: auto;
        margin: 0 auto;
    }
}